.footer {
  padding: 12px 18px;
  border-top: solid 1px rgb(235, 235, 235);

  display: grid;
  grid-template-columns: minmax(120px, 1fr) minmax(60px, 1fr) minmax(60px, 1fr);
  align-items: center;
  height: 90px;
}

.title,
.value {
  font-weight: 500;
  font-family: "Rubik", sans-serif;
}

.title {
  font-size: 14px;
  color: rgb(126, 126, 126);
}

.value {
  font-size: 17px;
  color: rgb(43, 43, 43);
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.render {
  flex-grow: 1;
  min-height: 150px;
}
